@import 'variables';

body {
  margin: 0;
  @include font-body;
  box-sizing: border-box;
}

code {
  font-family: $font-mono;
}

h1 {
  @include font-title;
}

h2 {
  @include font-heading;
}

a {
  color: $color-turquoise;
}

section {
  padding: 1rem 0;
}