@import '../../_variables.scss';

section#search {
    form {
        display: flex;
        flex-direction: row;
        margin: auto;
        max-width: 480px;
        border: 1px solid $color-silver;
        border-radius: 0.5rem;
        input, button {
            border: none;
            background: none;
            height: 3rem;
        }
        input {
            flex-grow: 1;
        }
        button {
            width: 3rem;
        }
    }
}
section#feature {
    form {
        display: flex;
        flex-direction: row;
        max-width: 480px;
        border: 1px solid $color-silver;
        border-radius: 0.5rem;
        input, button {
            border: none;
            background: none;
            height: 1.5rem;
        }
        input {
            flex-grow: 1;
            padding: 0 0.5rem;
        }
        button {
            width: 1.5rem;
        }
    }
}